@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

:root {
  --foreground-rgb: 255, 255, 255;
  --background-rgb: 20, 29, 47;
} 

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  font-family: 'Space Mono', monospace;
}